.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.hp {
    background-color: #24bf34;
}
.attack {
    background-color: #c92d24;
}
.defense {
    background-color: #1526bf;
}
.special-attack {
    background-color: #5d23ba;
}
.special-defense {
    background-color: #21a69d;
}
.speed {
    background-color: #edca4a;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pokemon-modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: opacity 500ms;
}
.content-modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 4rem auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* padding: 10px; */
    border-radius: 0.5rem;
    color: #fff;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    
}
.header-modal {
    text-transform: uppercase;
    font-size: 15pt;
    display: flex;
    align-items: center;
    width: 100%;
}
.header-modal h3 {
    flex: 1;
    text-align: center;
}
.close-button {
    font-size: small;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 10px;
    margin-right:  3px;
    color:#fff
}
.close-button:hover {
    color: #000;
}
.body-modal {
    flex: 1;
    width: 100%;
    
}
.image-modal {
    width: 150px;
}
.image-modal img {
    width: 100%;
}

.text-modal {

    margin: auto;
    padding: 5px;
    border-radius: 0.6rem;
    color: #777;
    background-color: #fff;
}
#abilities-container {
    border-radius: 0.5rem;
    background-color: rgba(9, 202, 19, 0.6);
    border: 5px solid rgba(7, 192, 22, 0.1);
    width: 100%;
    padding: 5px;
    color: #fff;
    margin-bottom: 5px;
}
#status-container {
    border-radius: 0.5rem;
    background-color: rgba(19, 93, 255, 0.6);
    border: 5px solid rgba(19, 93, 255, 0.1);
    width: 100%;
    padding: 5px;
    color: #fff;
}
.text-modal .abilities li {
    list-style: none;
}
.text-modal .stats {
    flex: 1;
    list-style: none;
}
.stats .status-bar {
    width: 0%;
    height:5px;
    border-radius: 0.5rem;
    transition: width 1s; 
    margin-bottom: 5px;
}
.stats  span {
    text-transform: uppercase;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content-modal {
        width: 50%;
    }
    .image-modal {
        margin: auto;
        width: 250px;
    }
    .text-modal {
        display: flex;
        width: 100%;

    }
    #abilities-container {
        margin-bottom: 0;
        margin-right: 5px;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}